<app-header-breadcrumb></app-header-breadcrumb>
<div [class.hidden]="!showLoaderDialogPainel" class="np-loader">
  <p-progressSpinner strokeWidth="5"></p-progressSpinner>
</div>
<form autocomplete="off">

<p-panel header="Lista de Pedidos Enviados Próximo ao Vencimento">
    <p-table [value]="atendimentos"
    styleClass="p-datatable-sm p-datatable-striped"
    [paginator]="true" [rows]="filtro.itensPorPagina"
    [lazy]="true"
    [totalRecords]="totalRegistros"
    (onLazyLoad)="aoMudarPagina($event)"
    [responsive]="true" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th style="width:10%; font-size: small; text-align: center;">Protocolo</th>
            <th style="width:10%; font-size: small; text-align: center;">Data Criação</th>
            <th style="width:20%; font-size: small;">Nome</th>
            <th style="width:20%; font-size: small;">Setor Enviado</th>
            <th style="width:10%; font-size: small; text-align: center;">Prazo Resposta</th>
            <th style="width:10%; font-size: small; text-align: center;">Dias para Vencer</th>
            <th style="width:10%; font-size: small; text-align: center;">Qtd Cobranças</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-atendimento>
            <tr>
                <td style="width:10%; font-size: small; text-align: center;">
                  {{atendimento.numeroProtocolo}}
                </td>
                <td style="width:10%; font-size: small; text-align: center;">
                  {{ atendimento.dataCriacao | date:'dd/MM/yyyy' }}
                </td>
                <td style="width:20%; font-size: small;">
                    {{atendimento.nomeSolicitante}}
                </td>
                <td style="width:20%; font-size: small;">
                    {{atendimento.descricaoSetorEncaminhado}}
                </td>
                <td style="width:10%; font-size: small; text-align: center;">
                    {{ atendimento.dataPrazoRespostaSetor | date:'dd/MM/yyyy' }}
                </td>                
                <td style="width:10%; font-size: small; text-align: center;">
                    {{ atendimento.qtdDiasVencimentoSetor }}
                </td>                
                <td style="width:10%; font-size: small;">
                  {{atendimento.qtdCobrancaEmail}}
              </td>
                <td style="width:10%; font-size: small;">
                  <a pButton pRipple icon="pi pi-pencil"  (click)="showAtendimento(atendimento.id)" class="p-button-rounded p-button-success mr-2 p-button-sm"></a>
              </td>
              </tr>
        </ng-template>
    </p-table>
</p-panel>
</form>
